<ActionBar title="My App"> </ActionBar>

<GridLayout>
  <ListView [items]="items" separatorColor="transparent" class="list-view swipeout" (loaded)="onListViewLoaded($event)"
    (itemLoading)="onListViewItemLoading($event)" (pan)="onListViewPan($event)">
    <ng-template let-item="item" let-i="index">
      <StackLayout class="list-view-item">
        <app-swipeout (prevIndexChanged)="onPrevIndexChanged($event)"
          (swipeProgressStarted)="onSwipeProgressStarted($event)"
          (swipeProgressFinished)="onSwipeProgressFinished($event)" [disabled]="isActiveScroll" [index]="i"
          [prevIndex]="prevIndex" [title]="item?.title" [text]="item?.text"></app-swipeout>
      </StackLayout>
    </ng-template>
  </ListView>
</GridLayout>