@import "./scss/common";

.list-view {
	.list-view-item {
		padding: 0;
		.list-view-item-content {
			width: 100%;
			padding: 8 16;
			border: none;
			.list-view-title {
				font-weight: bold;
				padding: 0;
				margin-bottom: 3;
				font-size: 17;
				font-weight: 600;
			}
			.list-view-subtitle {
				padding: 0;
				margin-bottom: 5;
				font-size: 15;
			}
			.list-view-text {
				padding: 0;
				font-size: 15;
			}
		}
	}
  .list-view-item-swiper {
    padding: 0;
  }
}

.ns-dark {
	Page, .page {
		background-color: #222;
	}
	.action-bar {
		background-color: #222;
	}

	.list-view {
		.list-view-item {
			.list-view-item-content {
				background-color: #222;
				.list-view-text {
					color: #fff;
				}
			}
		}
	}
}

