@import "./assets/scss/main";

/* lists */
.list-view {
	.list-view-item {
		margin: 0;
		padding: 0;
		padding-left: 16;
		background-color: #fff;
		.list-view-item-inner {
			width: 100%;
			padding: 10 10 10 0;
			margin-top: 0;
			border-bottom-width: 0.7;
			border-bottom-color: #f1f1f1;
			.list-view-title {
				font-weight: bold;
				padding: 0;
				margin-bottom: 3;
				font-size: 17;
				font-weight: 600;
			}
			.list-view-subtitle {
				padding: 0;
				margin-bottom: 5;
				font-size: 15;
			}
			.list-view-text {
				padding: 0;
				font-size: 15;
			}
		}
	}
  .list-view-item-swiper {
    padding: 0;
  }
}

.ns-dark {
	Page, .page {
		background-color: #222;
	}
	.action-bar {
		background-color: #222;
	}

	.list-view {
		.list-view-item {
			background-color: #222;
			.list-view-item-inner {
				border-bottom-color: #222;
				.list-view-text {
					color: #fff;
				}
			}
		}
	}
}

